<<<<<<< Updated upstream
<header>TopPage</header>

=======
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<h1>マスターブランチ上デコードを書いてしまった</h1>
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
>>>>>>> Stashed changes
<button>
 <%= link_to 'button', '#' %>
</button>